$titleFont : 'Mukta', sans-serif;
$mainFont : 'Montserrat', sans-serif;
$textColor : #fff;
$textGrayColor: #909090;
$dopColor : #8C64FF;
$orangeColor : #FF4A22;
$borderColor : #272525;
$grayText : #828282;
$grayTextV2: #A6A6A6;
